/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define AS(keycode) &as LS(keycode) keycode

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    behaviors {
        //        as: auto_shift {
        //            compatible = "zmk,behavior-hold-tap";
        //            #binding-cells = <2>;
        //            tapping_term_ms = <200>;
        //            quick_tap_ms = <0>;
        //            flavor = "tap-preferred";
        //            bindings = <&kp>, <&kp>;
        //        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
  &kp Q       &kp W        &kp E       &kp R         &kp T        &kp Y    &kp U         &kp I       &kp O        &kp P
  &hm LGUI A  &hm LCTRL S  &hm LALT D  &hm LSHIFT F  &kp G        &kp H    &hm RSHIFT J  &hm RALT K  &hm LCTRL L  &hm LGUI SQT
  &kp Z       &kp X        &kp C       &kp V         &kp B        &kp N    &kp M         &kp COMMA   &kp PERIOD   &kp SLASH
                           &kp LGUI    &mo 1         &kp SPACE    &kp RET  &mo 2         &kp BSPC
            >;
        };

        TenKey {
            bindings = <
  &trans          &kp N7                 &kp N8        &kp N9                   &trans       &trans  &trans    &kp UP_ARROW  &trans     &trans
  &hm LEFT_GUI A  &hm LEFT_ALT NUMBER_4  &hm LCTRL N5  &hm LEFT_SHIFT NUMBER_6  &kp BSPC     &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans
  &trans          &kp N1                 &kp N2        &kp N3                   &kp TAB      &trans  &trans    &trans        &trans     &trans
                                         &kp N0        &trans                   &kp ENTER    &trans  &trans    &trans
            >;
        };

        //                raise_layer {
        // -----------------------------------------------------------------------------------------
        // | 1! |  2@ |  3# |  4$ |  5% |     |  6^ |  7& |  8* |  9(  |  0)  |
        // | -_ |  =+ |  {  |  [  |  (  |     |  )  |  ]  |  }  |  /?  |  \|  |
        // | `~ |     |     |  ,< |  :  |     |  ;  |  .> | CTRL| META |      |
        //            | GUI | ESC | SPC |     | ENT |     | TAB |
        //                        display-name = "Raise";
        //                        bindings = <
        //   AS(N1)    AS(N2)    AS(N3)    AS(N4)    AS(N5)        AS(N6)    AS(N7)    AS(N8)    AS(N9)   AS(N0)
        //   AS(MINUS) AS(EQUAL) &kp LBRC  &kp LBKT  &kp LPAR      &kp RPAR  &kp RBKT  &kp RBRC  AS(FSLH) AS(BSLH)
        //   AS(GRAVE) &trans    &trans    AS(COMMA) &kp COLON     &kp SEMI  AS(DOT)   &kp LCTRL &kp RALT &trans
        //                       &kp LGUI  &kp ESC   &kp SPACE     AS(RET)   &trans    &kp TAB
        //                        >;
        //                };
    };
};
